body {
    background: var(--bg-color);
    color: var(--text-color);
}

#navbar {
    background-color: var(--navbar-bg);
}

#card_sec {
    background-color: var(--card-sec-bg);
}

.cards {
    background-color: var(--card-bg);
}

.cards:hover {
    background-color: var(--hover-color);
}

#exp_total {
    background-color: var(--totexp);
}

/* =========================
   MOBILE
========================= */

@media (max-width: 480px) {

    #logopc {
        display: none;
    }

    #heading {
        font-size: 20px;
    }

    #menu_btn {
        display: block;
    }


    #main_contain {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }

    #card_sec {
        height: 100%;
        width: 100%;
        padding: 10px;
        max-width: 100vw;
        max-height: 100vh;

    }

    #expand {
        width: 100%;
    }

    #task_list_area {
        width: 100%;
        max-width: 80vw;
    }

    .planner-item {
        width: 100%;
        padding: 10px;
        max-width: fit-content;
    }

    .task_text {
        font-size: auto;
    }

    .btn_group_plan {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    /* ---planner section--- */

    .planner-add {
        flex-direction: row;
        gap: 15px;
        width: 100%;
        max-width: 70vw;
        justify-content: center;
        align-items: center;
        padding: 7px;

        position: sticky;
        bottom: 10px;
        top: auto;
        width: 100%;
        max-width: 90vw;
        background-color: rgba(38, 119, 190, 0.2);
        backdrop-filter: blur(8px);
        border-radius: 12px;
    }

    #back_btn_plan_mob {
        display: inline-block;
        align-items: start;
        position: static;
        background: none;
        background-color: rgba(85, 85, 85, 0.25);
        border: none;
        cursor: pointer;
        font-weight: bold;
        padding: 9px 12px;
        border-radius: 50%;
        font-size: 15px;
    }

    #back_btn_plan {
        display: none;
    }

    .planner-add #back_btn_plan {
        flex: 1;
        width: auto;
        justify-content: start;
    }

    .planner-add input {
        font-size: 12px;
        padding: 7px 10px;
        width: 100%;
    }



    #add_task_mob {
        display: inline-block;
        padding: 7px 12px;
        border-radius: 50%;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }


    #add_task {
        display: none;
    }


    #feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 20px;
        gap: 15px;

        z-index: 0;

    }

    .cards {
        width: 100%;
        height: 200px;
        margin-top: 0;
        padding: 20px;
        box-shadow: white 0 4px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 250px;
        font-size: 16px;
    }

    form input,
    form select {
        width: 100%;
    }


    /* ---expense tracker section--- */

    #card_sec.exptra {
        height: 100%;
        max-height: 700px;

    }

    #card_sec.exptra #exp_tra {
        margin: 0%;
        height: 100%;
        max-height: 80vh;
        gap: 20px;
    }

    .ad-bc {
        background-color:  rgba(38, 119, 190, 0.2);
        border-radius: 10px;
        width: 100%;
        padding: 5px 5px;
        margin: 0px;
        position: fixed;
        top: 0;
    }

    #back_btn_exp {
        border-radius: 50%;
        padding: 12px 12px;
        font-weight: bolder;
    }

    #add_exp_bt {
        font-size: 12px;
    }

    #fliter {
        border-radius: 50%;
        padding: 0px 12px;
    }


    #exp_total {
        display: none;
    }

    #card_sec.exptra #exp_total {
        display: block;
        position: sticky;
        top: 70px;
        left: 0;
        transform: none;
        width: 90%;
        text-align: center;
    }


    .listofexp {
        font-size: 16px;
        width: 100%;
        max-width: 275px;
        border-radius: 10px;
    }



    #card_sec.exptra #explist {
        position: relative;
        /* override fixed */
        top: auto;
        left: auto;
        transform: none;

        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;

        height: calc(100vh - 220px);
        overflow-y: auto;

        width: 100%;
        padding-bottom: 20px;

        align-items: center;
    }


    #exp_clo_btn_mob {
        border: none;
    }

    .expcard {
        border-radius: 12px;
        padding: 12px;
        width: 100%;
        cursor: pointer;
    }

    /* top row */
    .exp-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-weight: bolder;
    }

    /* hidden by default on mobile */
    .exp-details {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    /* expanded state */
    .expcard.mob_exp_expand .exp-details {
        display: flex;
        margin-top: 10px;
    }


    #expform{
        width: 100%;
        max-width: 70vw;
    }
}